<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <link rel="icon" href="icon.png">
  <title>SMARTGRID POWER MANAGEMENT</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <!-- font -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">

  <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>

  <!-- css -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.css" type="text/css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css" type="text/css">
  

  </head>

<body>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyBnRd42ZFJc2A4lbkfnvnfCF8S-7xSGrbs",
        authDomain: "smartgrid-power-management.firebaseapp.com",
        databaseURL: "https://smartgrid-power-management.firebaseio.com",
        projectId: "smartgrid-power-management",
        storageBucket: "smartgrid-power-management.appspot.com",
        messagingSenderId: "925384727439"
      };
      firebase.initializeApp(config);
      </script>
  <script>
    firebase.auth().onAuthStateChanged(function(user) {
  if (user) {
    var user = firebase.auth().currentUser;
    var name, email, photoUrl, uid, emailVerified;

        if (user != null) {
          name = user.displayName;
          photoUrl = user.photoURL;
          email = user.email;
          var usr = document.getElementById("logintoggle").innerHTML = "ออกจากระบบ "+ name;
          document.getElementById("tk_NAME").value = email;
          document.getElementById("photoUser").src = photoUrl;
        }
  } else {
    document.location.href="/";
  }
});

    </script>


  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/"><i class="fa d-inline fa-lg fa-cloud"></i><b>  SMARTGRID POWER MANAGEMENT</b></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false"
        aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
        <ul class="navbar-nav">
          <li>
              <img id="photoUser" class="rounded-circle" width="32" height="32">

          </li>
        </ul>
        <a id="logintoggle" class="btn navbar-btn ml-2 text-white btn-secondary" onclick="logout()">  Sign in</a>
      </div>
    </div>
  </nav>
  <% if( this.JSON.stringify(elogid)!='' ) {  %>
  <div class="py-5">
    <div class="container">
      <div class="row" style="min-height:700px">
        <div class="col-md-2"></div>
        <div class="col-md-8 ">
         <form class="form-control" method="post" action="/submitcreate">
         <fieldset class="card text-white p-5 bg-dark">
            <div class="form-group">
                <label for="">หมายเลขอุปกรณ์ ใช้สำหรับระบุข้อมูลในการส่งผ่าน API </label>
                 <input type="text" name="db_LOGID_in" id="db_LOGID"  value=" <%- JSON.stringify(elogid) %> " class="form-control" readonly>
              </div>
           <div class="form-group">
             <label for="">อีเมลล์ (ระบบอ้างอิงจากอีเมล์ของระบบที่ผู้ใช้เข้าสู่ระบบ)</label>
              <input type="text" name="db_EMAIL" id="tk_NAME" class="form-control" readonly>
           </div>
           <div class="form-group">
             <label for="">ชื่ออุปกรณ์ </label>
              <input type="text" name="db_NAME"  class="form-control" placeholder="กรอกชื่ออุปกรณ์ เช่น หลอดไฟหน้าบ้านหลอดที่1 เป็นต้น">
            </div>
            <div class="form-group">
              <label for="">หน่วยของข้อมูลที่บันทึก </label>
                <input type="text" name="db_UNITNAME"  class="form-control" placeholder="กรอกหน่วย เช่น watt องศาเซลเซียส เป็นต้น">
              </div>
              <div class="form-group">
                <label for="">ระบุประเภทของอุปกรณ์</label>
                  <select name="db_TYPE"  class="form-control">
                      <option value="output">ใช้พลังงาน</option>
                      <option value="input">รับพลังงาน</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-success btn-lg" value="เพิ่มอุปกรณ์">
                  </div>
          
           
           
          
           
           </fieldset>
         </form>
         <fieldset class="card text-white p-5 bg-dark">
           <p></p>
         </fieldset>
         <div class="alert alert-info"><%= (!!locals.result)? result : '' %> </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </div>
  <% } %>


  <div class="py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center align-self-center">
          <p class="mb-5"> <strong>HEUN-KAM-NAN.</strong>
            <br>faculty of Engineer,faculty of science
            <br>UBONRATCHATHANI UNIVERSITY, THAILAND
            <br> <abbr title="Phone"> P: </abbr> (***) ***-**** </p>
          <div class="my-3 row">
            <div class="col-4">
              <a href="https://www.facebook.com" target="blank"><i class="fa fa-3x fa-facebook"></i></a>
            </div>
            <div class="col-4">
              <a href="https://twitter.com" target="blank"><i class="fa fa-3x fa-twitter"></i></a>
            </div>
            <div class="col-4">
              <a href="https://www.instagram.com" target="blank"><i class="fa fa-3x fa-instagram"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-6 p-0">
        <p> xxx xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
          </div>
      </div>
    </div>
  </div>


  <script>
    function logout(){
    firebase.auth().signOut().then(function() {
      document.location.href="/";
    }, function(error) {
  // An error happened.
    });
  }
  
  </script>

</body>

</html>